@charset "ISO-8859-1";

/* Cascading Style Sheet for GUEST login page */

body {
  font-family: Helvetica, sans-serif;
}

.title-highlight {
    font-weight:400;
    font-size:24px;
    color:#00BB42;
}

.input-login {
    height: 20px;
    width: 60px;
}
